/* ========== UTILITY ========== */
@import url(../../assets/css/util.css);

/* ========== BASE ========== */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-section {
    width: 80%;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: var(--font-semi-bold);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--normal-font-size);
}

.form-group.adjustment-note textarea {
    min-height: 210px;
    resize: vertical;
}

.partial-log-button {
    display: flex;
    justify-content: flex-end;
}

.partial-log-button button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--first-color);
    color: white;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.partial-log-button button:hover {
    background-color: #0056b3;
}

.primary-button {
    text-align: center;
    margin-top: 20px;
}

.primary-button button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--first-color);
    color: white;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.primary-button button:hover {
    background-color: #0056b3;
}

.output-container {
    display: none;
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: var(--small-font-size);
}

.copy-button:hover {
    background-color: #0056b3;
}

.toggle-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--first-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#modeLabel {
    margin-left: 10px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    align-self: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .left-section {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-section {
        width: 100%;
        padding-left: 0;
    }

    .toggle-container {
        width: 100%;
        justify-content: flex-start;
    }

    .output-container {
        width: 100%;
        padding: 15px;
        margin: 20px 0;
    }

    .copy-button {
        top: 5px;
        right: 5px;
        padding: 5px;
        font-size: var(--smaller-font-size);
    }
}
