<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout | Your Company</title>
    <link rel="stylesheet" href="./logout.css">
</head>

<body>
    <main>
        <div class="logout-container">
            <div class="logout-card">
                <img src="../assets/src/images/logout.jpg" alt="Logout Art" class="logout-art">
                <h1 class="logout-title">Goodbye!</h1>
                <p class="logout-message">Logout successful. We'll be here when you return, master</p>
                <a href="../index.html"><button class="logout-button" onclick="redirectToLogin()">Login Again</button></a>
            </div>
        </div>
    </main>
    <script>
        setTimeout(function() {
            window.close(); 
        }, 3000); 
    </script>

</body>
</html>







